<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpeg' %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Prism mixtape lomo et quis tacos, eu pork belly adaptogen dolore gluten-free. Master cleanse hashtag shabby chic, coloring book kickstarter tofu readymade authentic vice pickled crucifix tempor bitters. Vice pop-up consequat intelligentsia. Food truck quinoa air plant, vape palo santo reprehenderit franzen godard pickled selvage anim. Literally semiotics cloud bread eu asymmetrical, pinterest non blog cillum fashion axe distillery pariatur tilde chicharrones dolore. Palo santo cronut VHS, intelligentsia elit craft beer raw denim typewriter art party cray. Aliquip in chia yr swag.</p>
  </div>
</div>